.title {
  width: 95%;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

h1 {
  color: aliceblue;
}

.description {
  margin: 20px 20px 30px 20px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-5 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);;
  border-radius: 10px;
  height: 80%;
}

.space {
  font-size: 30px;
}

